<?xml version="1.0"?>
<robot name="openrobot_one" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="common_properties.xacro"/>
  <xacro:include filename="inertial_macros.xacro"/>
  <xacro:include filename="base.xacro"/>
  <xacro:include filename="wheel.xacro"/>
  <xacro:include filename="sensor.xacro"/>
  <xacro:include filename="gazebo.xacro"/>

  <xacro:arg name="base_length" default="0.26"/>
  <xacro:arg name="base_width" default="0.20"/>
  <xacro:arg name="base_height" default="0.08"/>
  <xacro:arg name="wheel_radius" default="0.0325"/>
  <xacro:arg name="wheel_width" default="0.025"/>
  <xacro:arg name="wheel_separation" default="0.20"/>
  <xacro:arg name="update_rate" default="50.0"/>
  <xacro:arg name="max_wheel_torque" default="20.0"/>
  <xacro:arg name="max_wheel_acceleration" default="1.0"/>
  <xacro:arg name="scan_topic" default="scan"/>

  <xacro:property name="base_length" value="$(arg base_length)"/>
  <xacro:property name="base_width" value="$(arg base_width)"/>
  <xacro:property name="base_height" value="$(arg base_height)"/>
  <xacro:property name="wheel_radius" value="$(arg wheel_radius)"/>
  <xacro:property name="wheel_width" value="$(arg wheel_width)"/>
  <xacro:property name="wheel_separation" value="$(arg wheel_separation)"/>
  <xacro:property name="update_rate" value="$(arg update_rate)"/>
  <xacro:property
    name="max_wheel_torque"
    value="$(arg max_wheel_torque)"/>
  <xacro:property
    name="max_wheel_acceleration"
    value="$(arg max_wheel_acceleration)"/>
  <xacro:property name="scan_topic" value="$(arg scan_topic)"/>
  <xacro:property name="base_mass" value="3.0"/>
  <xacro:property name="wheel_mass" value="0.25"/>
  <xacro:property name="caster_radius" value="0.015"/>
  <xacro:property name="caster_mass" value="0.05"/>
  <xacro:property name="laser_radius" value="0.035"/>
  <xacro:property name="laser_height" value="0.04"/>
  <xacro:property name="laser_mass" value="0.15"/>

  <xacro:openrobot_base
    base_length="${base_length}"
    base_width="${base_width}"
    base_height="${base_height}"
    base_mass="${base_mass}"
    wheel_radius="${wheel_radius}"/>

  <xacro:openrobot_wheels
    base_length="${base_length}"
    base_height="${base_height}"
    wheel_radius="${wheel_radius}"
    wheel_width="${wheel_width}"
    wheel_separation="${wheel_separation}"
    wheel_mass="${wheel_mass}"
    caster_radius="${caster_radius}"
    caster_mass="${caster_mass}"/>

  <xacro:openrobot_laser
    laser_x="0.08"
    laser_z="0.12"
    laser_radius="${laser_radius}"
    laser_height="${laser_height}"
    laser_mass="${laser_mass}"/>

  <xacro:openrobot_gazebo
    wheel_radius="${wheel_radius}"
    wheel_separation="${wheel_separation}"
    update_rate="${update_rate}"
    max_wheel_torque="${max_wheel_torque}"
    max_wheel_acceleration="${max_wheel_acceleration}"
    scan_topic="${scan_topic}"/>
</robot>
